<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  processIsolation="false"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="tmp/coverage" lowUpperBound="35" highLowerBound="70" />
      <text outputFile="php://stdout" showUncoveredFiles="true" />
      <clover outputFile="tmp/clover.xml" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Zerifas JSON Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
